/*The website will have a 4 main section (and a footer) */


/* Colors and font style 
dark bg color (hero and footer)
#1FT2937

Hero Main text - 48px extra-bold #F9FAF8
Hero Secondary text, Header Link Text - 18px
Information header text - 36px extra-bold 
Quote section bg color 
Quote text 36px light italic  */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7ebd3;
    background-image: linear-gradient(315deg, #fbebca 0%, #fefdfb 74%);
    
  }

  .container {
    height:100px;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    /*padding-block: var(--space-2) var(--space-4);*/
  
     
  }

  .navbar {
    display:flex;
    color:rgba(255, 255, 255, 0.982);
    background-color: #fffefc;
    background-image: linear-gradient(315deg, #f8f0de 0%, #fffefc 74%);
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    flex-shrink: 0;
  }

i {
  color:#e1c131;
}


/* Logo image size */
.header-logo img {
    width: 100px;
    height: auto;
    margin-right: auto;
}
/*Header Icons */
.header-icons {
  display:flex;
  gap:30px;
  margin-right: 45px;
  flex-shrink: 0;
}

.header-icons img {
  width: 20px;
  height: 20px;
  opacity: 1; /* Initial opacity */
  transition: opacity 0.5s;
}

.header-icons img:hover {
  opacity: 0.7;
}

.header-link {
    display:flex;
    gap:45px;
    
}

.header-link a {
   text-decoration: none;
   color:rgba(26, 24, 21, 0.859);
    
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

/* Hero Section */

.hero-section {
  flex: 1; /* Allow the hero section to grow to fill the remaining space */
  display: flex; /* Create a nested flex container */
  align-items: center; /* Vertically center content */
  justify-content: space-evenly;
  margin-bottom:250px;
  padding:16px;
  
 
}

.hero-left {
  display:flex;
  flex-direction: column;
  padding: 15px; /* Add padding for spacing */
  width: 41.67%;
  font-size: 48px;
  color:#4d94a2;
}

.button-hero {
  display:flex;
  font-size: 15px; 
  padding: 8px;
  border-radius: 8px;
  margin-top: 15px;
  color:#020303;
  background-color: #f6d025;
}

/* hero-right image duck */
.hero-right {
  flex-direction: column;
  margin:50px;
  align-content: center;
  
  
}

.hero-right img {
  display:flex;
  justify-content: center;
  max-width: 670px; /* Adjust the width as needed */
  height:350px;
  margin: 60px 0 20px 60px;
}


 /* main section */

 h1, h5 {
	padding: 0.5rem;
}

.center {
	text-align: center;
  color:rgba(26, 24, 21, 0.859);
}

/*Flexbox Cards*/
.cards {
	display: flex;
	flex-flow: row wrap;
  margin:20px;
  
  

}

.card-item {
	display: flex;
	width: 100%;
	padding: 0.5em;
  border-radius: 25px;

}

/* ===== == = === 37.5em (600px) === = == ===== */
@media all and (min-width: 37.5em) {
	.card-item {
			width: calc(100% / 12 * 6 );
	}
}
/* ===== == = === 56.25em (900px) === = == ===== */
@media all and (min-width: 56.25em) {
	.card-item {
			width: calc(100% / 12 * 4 );
	}
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding: 0;
	background-color: #F8FFF8;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
  ;
}

.card-body p {
	flex: 1 0 auto;
	margin: 0;
}

.card-img {
	width: 100%;
	border-radius: 3px 3px 0 0;
  
}

.card-img:hover {
	opacity: 0.5;
}

.card-title,
.card-text,
.card-footer {
	padding: 1em 1em 0;
}

.card-footer {
	margin-bottom: 1em;
}

.btn {
	display: inline-block;
	margin: 1rem;
	padding: .75rem 1.25rem;
	font: 700 1rem/1.2 Verdana, sans-serif;
	letter-spacing: .05rem;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(77,77,77,.5);
	background: #1E90FF;
	border-radius: .25rem;
	box-shadow: 0 0 1px 1px rgba(77,77,77,.5);
	color: floralwhite;
	cursor: pointer;
	transition: .5s;
}

.btn:hover {
	background: #ADD8E6;
	color: #333;
}

/* QUOTES SECTION */ 


.section-container {
  padding: 128px 128px 96px;
  background-color: #fefeed;

}

.section-container .section-wrapper {
  max-width: 90ch;
  display:flex;
  flex-direction: column;
}

.section-wrapper {
  margin:auto;
}

.author {
  display:flex;
  flex-direction: row-reverse;
  font-weight: bold;
}

.quotes {
  font-size:40px;
  letter-spacing: .05rem;
  color:#1c3d43;
  margin-top:40px;
  line-height: normal;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*call to action*/
.cta-wrapper {
  padding:150px;
  
}

.cta-wrapper .container-cta {
  display:flex;
  flex-direction: column;
}

.header-cta {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 8px;
}

.text {
  margin-bottom: 16px;
  line-height: 1;
}
.cta {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 50px;
  margin: auto;
  background: white;
  max-width: 100%; 
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
}



button {
  padding: 8px 16px;
  border-radius: 8px;
  
}

button.sign-up {
  display:flex;
  flex-direction: column;
  background: #f6d025;
  border: 1px solid royalblue;
  color:#020303;
  margin:auto;
  
}

.footer {
  line-height: 1;
  text-align: center;
  padding: 15px;
  margin:auto;
}
















