/*The website will have a 4 main section (and a footer) */


/* Colors and font style 
dark bg color (hero and footer)
#1FT2937

Hero Main text - 48px extra-bold #F9FAF8
Hero Secondary text, Header Link Text - 18px
Information header text - 36px extra-bold 
Quote section bg color 
Quote text 36px light italic  */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7ebd3;
    background-image: linear-gradient(315deg, #fbebca 0%, #fefdfb 74%);
  }

  .container {
    height:100px;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    /*padding-block: var(--space-2) var(--space-4);*/
  
     
  }

  .navbar {
    display:flex;
    color:rgba(255, 255, 255, 0.982);
    background-color: #fffefc;
    background-image: linear-gradient(315deg, #f8f0de 0%, #fffefc 74%);
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
  }

i {
  color:#e1c131;
}


/* Logo image size */
.header-logo img {
    width: 100px;
    height: auto;
    margin-right: auto;
}
/*Header Icons */
.header-icons {
  display:flex;
  gap:30px;
  margin-right: 45px;
}

.header-icons img {
  width: 20px;
  height: 20px;
  opacity: 1; /* Initial opacity */
  transition: opacity 0.5s;
}

.header-icons img:hover {
  opacity: 0.7;
}

.header-link {
    display:flex;
    gap:45px;
    
}

.header-link a {
   text-decoration: none;
   color:rgba(26, 24, 21, 0.859);
    
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

/* Hero Section */

.hero-section {
  flex: 1; /* Allow the hero section to grow to fill the remaining space */
  display: flex; /* Create a nested flex container */
  align-items: center; /* Vertically center content */
  justify-content: space-evenly;
  
 
}

.hero-left {
  display:flex;
  flex-direction: column;
  padding: 15px; /* Add padding for spacing */
  width: 41.67%;
  font-size: 48px;
  color:#4d94a2;
}

.button-hero {
  display:flex;
  font-size: 15px; 
  padding: 8px;
  border-radius: 8px;
  margin-top: 15px;
  color:#020303;
  background-color: #f6d025;
}

/* hero-right image duck */
.hero-right {
  flex-direction: column;
  margin:50px;
  align-content: center;
  
  
}

.hero-right img {
  display:flex;
  justify-content: center;
  max-width: 670px; /* Adjust the width as needed */
  height:350px;
  margin: 60px 0 20px 60px;
}



/* Main Section */
.title {
  display:flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  margin-top:10%;
  margin-bottom: 20px;
  margin:20px;
  color:rgba(26, 24, 21, 0.859);
  
  
  

}
.info-container {
  display:flex;
  justify-content: center;
  align-content: space-evenly;
  margin:30px;
  padding:35px;
  gap:20px;
  border-radius: 30px;
  
  
  
  

  
}

.info img {
  max-width: 100%;
  height:400px; /* Set the desired height for your images */
  object-fit: cover;
  border-radius: 25px;
  border: 5px solid #7fc3fb;
  color:rgba(27, 23, 17, 0.859);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  
}

.info {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  
  
  

}

.text {
  margin:20px;
  padding:20px;
  line-height: 1.6;
}









